@mixin colored_table($color) {
    > caption {
        background-color: $color;
    }
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                background-color: rgba($color, 0.5);
            }
            > td {
                &:empty {
                    background-color: #e5e5f7;
                    opacity: 0.8;
                    background: repeating-linear-gradient(-45deg, gray, gray 2px, $color 3px, $color 8px);
                }
            }
        }
    }
}

@mixin striped_table($color) {
    > colgroup {
        > col:nth-child(2n + 1) {
            background-color: rgba(gray, 0.5);
        }
    }
    > thead,
    > tbody,
    > tfoot {
        > tr:nth-child(2n + 1) {
            > td {
                background-color: rgba($color, 0.5);

                &:empty {
                    background-color: whitesmoke;
                    opacity: 0.8;
                    background: repeating-linear-gradient(-45deg, gray, gray 2px, $color 3px, $color 8px);
                }
            }
        }
    }
}

@mixin round_table($radius) {
    border-radius: $radius;

    > caption,
    > thead,
    > tbody,
    > tfoot {
        &:first-child {
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
        }
        &:last-child {
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
        }
    }

    > thead,
    > tbody,
    > tfoot {
        &:first-child {
            > tr {
                &:first-child {
                    > th,
                    > td {
                        &:first-child {
                            border-top-left-radius: $radius;
                        }
                        &:last-child {
                            border-top-right-radius: $radius;
                        }
                    }
                }
            }
        }
        &:last-child {
            > tr {
                &:last-child {
                    > th,
                    > td {
                        &:first-child {
                            border-bottom-left-radius: $radius;
                        }
                        &:last-child {
                            border-bottom-right-radius: $radius;
                        }
                    }
                }
            }
        }
    }
}

@mixin padding_table($padding) {
    > caption {
        padding: $padding;
    }
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: $padding;
            }
        }
    }
}

@mixin horizontal_table_border($border) {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                &:not(:first-child) {
                    border-left: $border;
                }
                &:not(:last-child) {
                    border-right: $border;
                }
            }
        }
    }
}

@mixin vertical_table_border($border) {
    > thead,
    > tbody,
    > tfoot {
        &:not(:first-child) {
            > tr {
                > th,
                > td {
                    border-top: $border;
                }
            }
        }
    }
}

@mixin table() {
    border-collapse: collapse;
    border-spacing: 0;

    @include colored_table(whitesmoke);
    @include striped_table(lightgray);
    // @include round_table(10px);
    @include padding_table(4px);
    @include horizontal_table_border(1px solid grey);
    @include vertical_table_border(1px solid grey);

    margin: 10px;
    box-shadow: 0px 4px 12px rgba(black, 0.2);
    color: rgb(30, 30, 30);
    font-family: calibri;

    > caption {
        background-color: rgb(30, 30, 30);
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }
    > thead,
    > tfoot {
        text-transform: capitalize;

        > tr {
            > th {
                background-color: rgb(30, 30, 30);
                color: white;
            }
        }
    }
}

table.table {
    @include table();
}

table.table1 {
    th, td {
        border: 1px solid;
    }
}
